.overlay {
    opacity: 0.8;
    /* background-color:#ccc; */
    /* position: fixed; */
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 0;
    background-image: url(../images/student.jpg);

}

/* .bg {
    background-image: url(../images/student.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */